body {
    background-color: #E6B9A6;
}

h1 {
    font-family: "Yellowtail", cursive;
}

.unchecked {
    color: gray;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Work Sans", sans-serif;
}

li {
    font-family: "Work Sans", sans-serif;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.top-header {
    background-color: #2F3645;
    overflow: hidden;
    height: 60px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    position: fixed;
    width: 100%;
}

.top-header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-header a:hover {
    background-color: #ddd;
    color: black;
}

.top-header a.active {
    background-color: #939185;
    color: white;
}

.about {
    background-color: #EEEDEB;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10x;
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin-top: 10px;
}

.contact {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}